.container 
{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}

img 
{
  margin: 5%;
  min-width: 400px;
  max-width: 400px;
  max-height: 400px;
  min-height: 400px;
}

button 
{
  max-width: 400px;
}